<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
<div class="nav-bar-left" th:fragment="nav-bar">
    <nav class="menu">
        <img src="/images/test.png" alt="" width="200">
        <ul class="main-nav">
            <li><a th:href="@{/home}">Home</a></li>
            <li><a th:href="@{/tickets}">Tickets</a></li>
            <li><a th:href="@{/requests}">Requests</a></li>
            <li><a th:href="@{'/users/edit/' + ${user.id}}">Account</a></li>
        </ul>

        <ul class="hr-nav" th:if="${user.position.name() == 'HR' || user.position.name() == 'ADMIN'}">
            <h6>HR Panel</h6>
            <li><a th:href="@{/users}">Users</a></li>
            <li><a th:href="@{/cards}">Cards</a></li>
        </ul>
        <ul class="it-nav" th:if="${user.position.name() == 'IT' || user.position.name() == 'ADMIN'}">
            <h6>IT Panel</h6>
            <li><a th:href="@{computers}">Computers</a></li>
        </ul>
        <ul class="logout-button">
            <li><a th:href="@{/logout}">Logout</a></li>
        </ul>
    </nav>
</div>

<footer th:fragment="footer">
    <p>&#169; 2025 CorpSuite Ltd.</p>
</footer>
</body>
</html>