/* ====== Global Styles ====== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    margin-bottom: 1em;
}

body {
    font: 14px/1.5 Lato, sans-serif;
    background: linear-gradient(to bottom, rgba(209, 251, 255, 0.3), #e0e0e0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
}

/* ====== Main Layout ====== */
.card-page-layout {
    padding: 20px;
    display: flex;
    gap: 20px;
    width: 30em;
}

.card-details p{
    font-style: italic;
    opacity: 50%;
}

/* ====== Account Form Section ====== */
.card-page-edit-form {
    flex: 1;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.form-main {
    display: flex;
    flex-direction: row;
}

/* ====== Form Elements ====== */
.form-group {
    margin-bottom: 15px;
}

.form-group:first-of-type {
    margin-top: 1.5em;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: center;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


/* Dropdown Styling */
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* ====== Submit Button ====== */
.submit-button {
    width: 8em;
    height: 3em;
    padding: 10px;
    border: none;
    background: #2c3e50;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 2em;
}

.submit-button:hover {
    background: #34495e;
}

.btn-check-container{
    padding-right: 2.5em;
}

.error-field {
    color: red;
    text-align: center;
    font-weight: bold;
}

/* ====== Responsive Design ====== */
/*@media (max-width: 768px) {*/
/*    .account-page-layout {*/
/*        flex-direction: column;*/
/*        height: auto;*/
/*    }*/

/*    .nav-bar-left {*/
/*        width: 100%;*/
/*        height: auto;*/
/*    }*/

/*    .account-page-edit-form {*/
/*        padding: 20px;*/
/*    }*/
/*}*/
