<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Account</title>
    <link rel="stylesheet" href="/static/css/account.css">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
<div class="account-page-layout">
    <div class="nav-bar-left">
        <nav class="menu">
            <img src="/images/test.png" alt="" width="200">
            <ul class="main-nav">
                <li><a href="">Home</a></li>
                <li><a href="">Tickets</a></li>
                <li><a href="">Requests</a></li>
                <li><a href="">Account</a></li>
            </ul>

            <ul class="hr-nav">
                <h6>HR Panel</h6>
                <li><a href="">Users</a></li>
                <li><a href="">Cards</a></li>
            </ul>
            <ul class="it-nav">
                <h6>IT Panel</h6>
                <li><a href="">Computers</a></li>
            </ul>
        </nav>
    </div>
    <div class="account-page-edit-form">
        <img class="user-img" src="/images/user-profile-icon.svg" alt="" width="100">
        <form action="" id="acc-details" class="form-main">
            <div class="account-details">
                <p>Account Panel</p>
                <div class="form-group">
                    <label for="first-name">First Name</label>
                    <input type="text" class="form-control" id="first-name" placeholder="Enter first name">
                </div>
                <div class="form-group">
                    <label for="last-name">Last Name</label>
                    <input type="text" class="form-control" id="last-name" placeholder="Enter last name">
                </div>
                <div class="form-group">
                    <label for="profilePic">Profile Picture</label>
                    <input type="url" class="form-control" id="profilePic" placeholder="Enter profile picture link">
                </div>
                <div class="form-group">
                    <label for="country">Country</label>
                    <input type="text" class="form-control" id="country" placeholder="Enter country">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="text" class="form-control" id="password" placeholder="Enter password">
                </div>
            </div>
            <div class="admin-details">
                <p>Admin Panel</p>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="Enter email">
                </div>

                <div class="form-group">
                    <label for="department">Department</label>
                    <input type="text" class="form-control" id="department" placeholder="Enter department">
                </div>
                <div class="form-group">
                    <label for="position-select">Position</label>
                    <select name="position" id="position-select">
                        <option value="HR">HR</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="card-select">Card</label>
                    <select name="position" id="card-select">
                        <option value="5">5</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="isActive">Active status</label>
                    <input type="checkbox" class="form-control" id="isActive">
                </div>
            </div>
        </form>
        <button class="submit-button" type="submit" form="acc-details">Save Changes</button>
    </div>
</div>
</body>
</html>