<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cards</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/card.css">
</head>
<body>
<div class="cards-page-layout">
  <th:block th:insert="~{/fragment/general :: nav-bar}"></th:block>
  <div class="cards-overview">
    <div class="table-nav">
      <a href="">Add Card</a>
      <a href="">History</a>
    </div>
    <table>
      <thead>
      <tr>
        <th>ID</th>
        <th>User</th>
        <th>Code</th>
        <th>Type</th>
        <th>Active Status</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>5</td>
        <td>Toshu Gaikata</td>
        <td>1566</td>
        <td>IT</td>
        <td>Active</td>
        <td><a href="">Edit</a></td>
      </tr>
      <tr>
        <td>5</td>
        <td>Toshu Gaikata</td>
        <td>1566</td>
        <td>IT</td>
        <td>Active</td>
        <td><a href="">Edit</a></td>
      </tr>
      <tr>
        <td>5</td>
        <td>Toshu Gaikata</td>
        <td>1566</td>
        <td>IT</td>
        <td>Active</td>
        <td><a href="">Edit</a></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<footer th:replace="~{fragment/general :: footer}"></footer>
</body>
</html>