<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Computers</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/computer.css">
</head>
<body>
<div class="computers-page-layout">
    <th:block th:insert="~{/fragment/general :: nav-bar}"></th:block>
    <div class="computers-overview">
        <h1>Computers</h1>
        <div class="table-nav">
            <a th:href="@{/computers/add}">Add Computer</a>
            <a th:href="@{/computers/history}">History</a>
        </div>
        <table>
            <thead>
            <tr>
                <th>Actions</th>
                <th>ID</th>
                <th>Name</th>
                <th>Barcode</th>
                <th>Comment</th>
                <th>User</th>
                <th>OS</th>
                <th>Processor</th>
                <th>Graphics</th>
                <th>Motherboard</th>
                <th>RAM</th>
                <th>Storage</th>
                <th>Mac Address</th>
                <th>Age</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="computer : ${computers}">
                <td><a th:href="@{'/computers/edit/' + ${computer.id}}">Edit</a></td>
                <td th:text="${computer.id}"></td>
                <td th:text="${computer.computerName}"></td>
                <td th:text="${computer.barcode}"></td>
                <td th:text="${#strings.isEmpty(computer.comment) ? '-' : computer.comment}">-</td>
                <td th:text="${#strings.isEmpty(computer.owner) ? 'None' : computer.owner.firstName + ' ' + computer.owner.lastName}"></td>
                <td th:text="${#strings.isEmpty(computer.operatingSystem) ? 'N/A' : computer.operatingSystem}"></td>
                <td th:text="${#strings.isEmpty(computer.cpu) ? 'N/A' : computer.cpu}"></td>
                <td th:text="${#strings.isEmpty(computer.gpu) ? 'N/A' : computer.gpu}"></td>
                <td th:text="${#strings.isEmpty(computer.motherboard) ? 'N/A' : computer.motherboard}"></td>
                <td th:text="${#strings.isEmpty(computer.ram) ? 'N/A' : computer.ram}"></td>
                <td th:text="${#strings.isEmpty(computer.storage) ? 'N/A' : computer.storage}"></td>
                <td th:text="${#strings.isEmpty(computer.macAddress) ? 'N/A' : computer.macAddress}"></td>
                <td th:text="${#strings.isEmpty(computer.age) ? 'N/A' : computer.age}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<footer th:replace="~{fragment/general :: footer}"></footer>
</body>
</html>