<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Computers</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/computer.css">
</head>
<body>
<div class="computers-page-layout">
    <th:block th:insert="~{/fragment/general :: nav-bar}"></th:block>
    <div class="computers-overview">
        <div class="table-nav">
            <a href="">Add Computer</a>
            <a href="">History</a>
        </div>
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Barcode</th>
                <th>Comment</th>
                <th>User</th>
                <th>OS</th>
                <th>Processor</th>
                <th>Graphics</th>
                <th>Motherboard</th>
                <th>RAM</th>
                <th>Storage</th>
                <th>Mac Address</th>
                <th>Age</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>SOF-WKS-0001</td>
                <td>20241105</td>
                <td>-</td>
                <td>Toshu Gaikata</td>
                <td>Windows 11 Pro</td>
                <td>Ryzen 5700X3D</td>
                <td>RTX 3080</td>
                <td>AsRock X570 Phantom Gaming 4</td>
                <td>32GB</td>
                <td>2TB</td>
                <td>20:23:f1:a2:31:9b</td>
                <td>1</td>
                <td><a href="">Edit</a></td>
            </tr>
            <tr>
                <td>1</td>
                <td>SOF-WKS-0001</td>
                <td>20241105</td>
                <td>-</td>
                <td>Toshu Gaikata</td>
                <td>Windows 11 Pro</td>
                <td>Ryzen 5700X3D</td>
                <td>RTX 3080</td>
                <td>AsRock X570 Phantom Gaming 4</td>
                <td>32GB</td>
                <td>2TB</td>
                <td>20:23:f1:a2:31:9b</td>
                <td>1</td>
                <td><a href="">Edit</a></td>
            </tr>
            <tr>
                <td>1</td>
                <td>SOF-WKS-0001</td>
                <td>20241105</td>
                <td>-</td>
                <td>Toshu Gaikata</td>
                <td>Windows 11 Pro</td>
                <td>Ryzen 5700X3D</td>
                <td>RTX 3080</td>
                <td>AsRock X570 Phantom Gaming 4</td>
                <td>32GB</td>
                <td>2TB</td>
                <td>20:23:f1:a2:31:9b</td>
                <td>1</td>
                <td><a href="">Edit</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<footer th:replace="~{fragment/general :: footer}"></footer>
</body>
</html>