<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Computers</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/computer.css">
</head>
<body>
<div class="computers-page-layout">
    <div class="nav-bar-left">
        <nav class="menu">
            <img src="/static/test.png" alt="" width="200">
            <ul class="main-nav">
                <li><a href="">Home</a></li>
                <li><a href="">Tickets</a></li>
                <li><a href="">Requests</a></li>
                <li><a href="">Account</a></li>
            </ul>
            <ul class="hr-nav">
                <h6>HR Panel</h6>
                <li><a href="">Users</a></li>
                <li><a href="">Cards</a></li>
            </ul>
            <ul class="it-nav">
                <h6>IT Panel</h6>
                <li><a href="">Computers</a></li>
            </ul>
        </nav>
    </div>
    <div class="computers-overview">
        <div class="table-nav">
            <a href="">Add Computer</a>
            <a href="">History</a>
        </div>
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Barcode</th>
                <th>Comment</th>
                <th>User</th>
                <th>OS</th>
                <th>Processor</th>
                <th>Graphics</th>
                <th>Motherboard</th>
                <th>RAM</th>
                <th>Storage</th>
                <th>Mac Address</th>
                <th>Age</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>SOF-WKS-0001</td>
                <td>20241105</td>
                <td>-</td>
                <td>Toshu Gaikata</td>
                <td>Windows 11 Pro</td>
                <td>Ryzen 5700X3D</td>
                <td>RTX 3080</td>
                <td>AsRock X570 Phantom Gaming 4</td>
                <td>32GB</td>
                <td>2TB</td>
                <td>20:23:f1:a2:31:9b</td>
                <td>1</td>
                <td><a href="">Edit</a></td>
            </tr>
            <tr>
                <td>1</td>
                <td>SOF-WKS-0001</td>
                <td>20241105</td>
                <td>-</td>
                <td>Toshu Gaikata</td>
                <td>Windows 11 Pro</td>
                <td>Ryzen 5700X3D</td>
                <td>RTX 3080</td>
                <td>AsRock X570 Phantom Gaming 4</td>
                <td>32GB</td>
                <td>2TB</td>
                <td>20:23:f1:a2:31:9b</td>
                <td>1</td>
                <td><a href="">Edit</a></td>
            </tr>
            <tr>
                <td>1</td>
                <td>SOF-WKS-0001</td>
                <td>20241105</td>
                <td>-</td>
                <td>Toshu Gaikata</td>
                <td>Windows 11 Pro</td>
                <td>Ryzen 5700X3D</td>
                <td>RTX 3080</td>
                <td>AsRock X570 Phantom Gaming 4</td>
                <td>32GB</td>
                <td>2TB</td>
                <td>20:23:f1:a2:31:9b</td>
                <td>1</td>
                <td><a href="">Edit</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>