<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" type="image/ico" th:href="@{/images/favicon.ico}">
</head>
<body>

<div class="home-page-layout">
    <th:block th:insert="~{/fragment/general :: nav-bar}"></th:block>
    <div class="user-main">
        <div class="user-info">
            <div class="user-greeting">
                <h1 th:text="${'Good Morning, ' + user.firstName}"></h1>
                <img class="user-img" th:src="${#strings.isEmpty(user.profilePicture) ? '/images/user-profile-icon.svg' : user.profilePicture}" alt="">
                <a class="edit-account-button" th:href="@{'/users/edit/' + ${user.id}}">Edit Account</a>
            </div>
            <div class="user-details-main">
                <div class="user-details">
                    <h3>Account Details</h3>
                    <p>Name: <span th:text="${user.firstName + ' ' + user.lastName}"></span></p>
                    <p>Email: <span th:text="${user.corporateEmail}"></span></p>
                    <p>Department: <span th:text="${user.department}"></span></p>
                    <p>Manager: <span th:text="${#strings.isEmpty(user.manager?.corporateEmail) ? 'None' : user.manager.corporateEmail}"></span></p>
                    <p>Position: <span th:text="${user.position}"></span></p>
                    <p>Paid Leave Days Left: <span th:text="${user.paidLeaveCount}"></span></p>
                    <p>Access Card Number: <span th:text="${#strings.isEmpty(user.card?.id) ? 'None' : user.card.id}">5</span></p>
                </div>
                <div class="computer-details">
                    <h3>Computer Details</h3>
                    <p>Name: <span th:text="${user.computers.isEmpty() ? 'None' : user.computers.get(0).computerName}"></span></p>
                    <p>CPU: <span th:text="${user.computers.isEmpty() ? 'None' : user.computers.get(0).cpu}"></span></p>
                    <p>GPU: <span th:text="${user.computers.isEmpty() ? 'None' : user.computers.get(0).gpu}"></span></p>
                    <p>RAM: <span th:text="${user.computers.isEmpty() ? 'None' : user.computers.get(0).ram}"></span></p>
                    <p>Storage: <span th:text="${user.computers.isEmpty() ? 'None' : user.computers.get(0).storage}"></span></p>
                </div>
            </div>
        </div>
        <div class="tickets-requests">
            <div class="request-overview">
                <div class="ticket-request-container-head">
                    <h3>Absence Requests</h3>
                    <a class="request-ticket-button" th:href="@{/requests}">Open All Requests</a>
                </div>
                <table>
                    <thead>
                    <tr>
                        <th>From Date</th>
                        <th>To Date</th>
                        <th>Type</th>
                        <th>Approval</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="request : ${requestList}">
                        <td th:text="${#temporals.format(request.fromDate,'dd/MM/YYYY')}"></td>
                        <td th:text="${#temporals.format(request.toDate,'dd/MM/YYYY')}"></td>
                        <td th:text="${request.type}"></td>
                        <td th:text="${request.responsible.corporateEmail}"></td>
                        <td th:text="${request.status.name()}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="ticket-overview">
                <div class="ticket-request-container-head">
                    <h3>Tickets</h3>
                    <a class="request-ticket-button" th:href="@{/tickets}">Open All Tickets</a>
                </div>
                <table>
                    <thead>
                    <tr>
                        <th>Comment</th>
                        <th>Responsible</th>
                        <th>Type</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="ticket : ${ticketList}">
                        <td th:text="${ticket.comment.substring(0,5) + '...'}"></td>
                        <td th:text="${ticket.responsible.corporateEmail}"></td>
                        <td th:text="${ticket.type.name()}"></td>
                        <td th:text="${ticket.status.name()}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<footer th:replace="~{fragment/general :: footer}"></footer>
</body>
</html>