<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/static/css/home.css">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>

<div class="home-page-layout">
    <div class="nav-bar-left">
        <nav class="menu">
            <img src="/images/test.png" alt="" width="200">
            <ul class="main-nav">
                <li><a href="">Home</a></li>
                <li><a href="">Tickets</a></li>
                <li><a href="">Requests</a></li>
                <li><a href="">Account</a></li>
            </ul>

            <ul class="hr-nav">
                <h6>HR Panel</h6>
                <li><a href="">Users</a></li>
                <li><a href="">Cards</a></li>
            </ul>
            <ul class="it-nav">
                <h6>IT Panel</h6>
                <li><a href="">Computers</a></li>
            </ul>
        </nav>
    </div>
    <div class="user-main">
        <div class="user-info">
            <div class="user-greeting">
                <h1>Good Morning, Todor!</h1>
                <img class="user-img" src="/images/user-profile-icon.svg" alt="" width="100">
                <a class="edit-account-button" href="">Edit Account</a>
            </div>
            <div class="user-details-main">
                <div class="user-details">
                    <h3>Account Details</h3>
                    <p>Name: <span>User</span></p>
                    <p>Email: <span>todor.dimitrov@corpsuite.com</span></p>
                    <p>Department: <span>Dpt</span></p>
                    <p>Manager: <span>Gosho</span></p>
                    <p>Position: <span>Pos</span></p>
                    <p>Paid Leave Days Left: <span>15</span></p>
                    <p>Access Card Number: <span>5</span></p>
                </div>
                <div class="computer-details">
                    <h3>Computer Details</h3>
                    <p>Name: <span>SOF-WKS-0001</span></p>
                    <p>CPU: <span>Intel</span></p>
                    <p>GPU: <span>nVidia</span></p>
                    <p>RAM: <span>16GB</span></p>
                    <p>Storage: <span>1TB</span></p>
                </div>
            </div>
        </div>
        <div class="tickets-requests">
            <div class="request-overview">
                <div class="ticket-request-container-head">
                    <h3>Absence Requests</h3>
                    <a class="request-ticket-button" href="">Open All Requests</a>
                </div>
                <table>
                    <thead>
                    <tr>
                        <th>From Date</th>
                        <th>To Date</th>
                        <th>Type</th>
                        <th>Approval</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1 jan 2025</td>
                        <td>5 jan 2025</td>
                        <td>Paid Leave</td>
                        <td>Gosho</td>
                        <td>Approved</td>
                    </tr>
                    <tr>
                        <td>1 jan 2025</td>
                        <td>5 jan 2025</td>
                        <td>Paid Leave</td>
                        <td>Gosho</td>
                        <td>Approved</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="ticket-overview">
                <div class="ticket-request-container-head">
                    <h3>Tickets</h3>
                    <a class="request-ticket-button" href="">Open All Tickets</a>
                </div>
                <table>
                    <thead>
                    <tr>
                        <th>Comment</th>
                        <th>Responsible</th>
                        <th>Type</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>computer no workey</td>
                        <td>Pesho</td>
                        <td>Device</td>
                        <td>Pending</td>
                    </tr>
                    <tr>
                        <td>computer no workey</td>
                        <td>Pesho</td>
                        <td>Device</td>
                        <td>Pending</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
</body>
</html>