<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

<div class="home-page-layout">
    <h1>Good Morning, User</h1>
    <div class="nav-bar-left">
        <nav class="menu">
            <ul class="main-nav">
                <li><a href="">Home</a></li>
                <li><a href="">Tickets</a></li>
                <li><a href="">Requests</a></li>
                <li><a href="">Account</a></li>
            </ul>
            <ul class="hr-nav">
                <li><a href="">Users</a></li>
                <li><a href="">Cards</a></li>
            </ul>
            <ul class="it-nav">
                <li><a href="">Computers</a></li>
            </ul>
        </nav>
    </div>
    <div class="user-info">
        <img src="" alt="">
        <div class="user-details">
            <p>Name: <span>User</span></p>
            <p>Email: <span>User@corpsuite.com</span></p>
            <p>Department: <span>Dpt</span></p>
            <p>Manager: <span>Gosho</span></p>
            <p>Position: <span>Pos</span></p>
            <p>Paid Leave Days Left: <span>15</span></p>
            <p>Access Card Number: <span>5</span></p>
        </div>
        <div class="computer-details">
            <p>Name: <span>SOF-WKS-0001</span></p>
            <p>CPU: <span>Intel</span></p>
            <p>GPU: <span>nVidia</span></p>
            <p>RAM: <span>16GB</span></p>
            <p>Storage: <span>1TB</span></p>
        </div>
    </div>
    <div class="tickets-requests">
        <div class="request-overview">
            <table>
                <thead>
                <tr>
                    <th>From Date</th>
                    <th>To Date</th>
                    <th>Type</th>
                    <th>Approval</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1 jan 2025</td>
                    <td>5 jan 2025</td>
                    <td>Paid Leave</td>
                    <td>Gosho</td>
                    <td>Approved</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="ticket-overview">
            <table>
                <thead>
                <tr>
                    <th>Comment</th>
                    <th>Responsible</th>
                    <th>Type</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>computer no workey</td>
                    <td>Pesho</td>
                    <td>Device</td>
                    <td>Pending</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
</body>
</html>