<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CorpSuite</title>
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
<img src="/static/logo-animated-3.gif" alt="" width="400">
<!--<h1>CorpSuite</h1>-->

<div class="form-container">
    <form class="login-form" method="post" action="">
        <div class="email-input">
            <label for="email"></label>
            <input type="email" name="email" id="email" required placeholder="Email">
        </div>
        <div class="password-input">
            <label for="password"></label>
            <input type="password" name="password" id="password" required placeholder="Password">
        </div>
        <div class="submit-input">
            <input type="submit" value="Login"/>
        </div>
    </form>
</div>

</body>

<footer>
    <p>Copyright 2025 CorpSuite Ltd.</p>
</footer>
</html>