<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Logs</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/log.css">
</head>
<body>
<div class="cards-page-layout">
    <th:block th:insert="~{/fragment/general :: nav-bar}"></th:block>
    <div class="cards-overview">
        <h1>Logs</h1>
        <div class="table-nav" th:if="${false}">
            <!--scrapping this idea for now-->
            <p>Filter:</p>
            <label for="email-select">Email:</label>
            <select name="email-select" id="email-select">
                <option value="" selected>All</option>
            </select>
            <a>History</a>
        </div>
        <table>
            <thead>
            <tr>
                <th>Email</th>
                <th>Action</th>
                <th>Module</th>
                <th>Comment</th>
                <th>Timestamp</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
<footer th:replace="~{fragment/general :: footer}"></footer>
<script src="/js/log.js"></script>
</body>
</html>