<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Logs</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/log.css">
    <link rel="icon" type="image/ico" th:href="@{/images/favicon.ico}">
</head>
<body>
<div class="log-page-layout">
    <th:block th:insert="~{fragments/general.html :: nav-bar}"></th:block>
    <div class="log-overview">
        <h1>Logs</h1>
        <div class="table-nav">
            <form id="delete-logs" th:action="@{/api/v1/logs}" th:method="DELETE">
                <button class="clear-log-btn" id="clear-log-btn" type="submit" form="delete-logs">Clear Logs</button>
            </form>
        </div>
        <table>
            <thead>
            <tr>
                <th>Email</th>
                <th>Action</th>
                <th>Module</th>
                <th>Comment</th>
                <th>Timestamp</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
<footer th:replace="~{fragments/general.html :: footer}"></footer>
<script src="/js/log.js"></script>
</body>
</html>