<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CorpSuite</title>
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" type="image/ico" th:href="@{/images/favicon.ico}">
</head>
<body>
<div class="form-main">
    <img alt="" src="/images/logo-animated.gif">
    <div class="form-container">
        <form class="login-form" th:method="POST" th:action="@{/login}">
            <div class="email-input">
                <label for="email"></label>
                <input type="email" name="email" id="email" required placeholder="Email">
            </div>
            <div class="password-input">
                <label for="password"></label>
                <input type="password" name="password" id="password" required placeholder="Password">
                <p th:if="${error}" class="login-error">Email or password is incorrect!</p>
            </div>
            <div class="submit-input">
                <input type="submit" value="Login"/>
            </div>
        </form>
    </div>
</div>

</body>

<footer th:replace="~{fragments/general.html :: footer}">
</footer>
</html>