<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Requests</title>
</head>
<body>
<body>
<div class="request-page-layout">
    <div class="nav-bar-left">
        <nav class="menu">
            <ul class="main-nav">
                <li><a href="">Home</a></li>
                <li><a href="">Tickets</a></li>
                <li><a href="">Requests</a></li>
                <li><a href="">Account</a></li>
            </ul>
            <ul class="hr-nav">
                <li><a href="">Users</a></li>
                <li><a href="">Cards</a></li>
            </ul>
            <ul class="it-nav">
                <li><a href="">Computers</a></li>
            </ul>
        </nav>
    </div>
    <div class="request-overview">
        <table>
            <thead>
            <tr>
                <th>From Date</th>
                <th>To Date</th>
                <th>Type</th>
                <th>Approval</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1 jan 2025</td>
                <td>5 jan 2025</td>
                <td>Paid Leave</td>
                <td>Gosho</td>
                <td>Approved</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</body>
</html>