<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:if="${endpoint == 'add'}">Add Request</title>
    <title th:if="${endpoint != 'add'}">Edit Request</title>
    <link rel="stylesheet" href="/css/request-add.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>
    <link rel="icon" type="image/ico" th:href="@{/images/favicon.ico}">
</head>
<body>
<div class="add-request-layout">
    <div class="request-add-form">
        <h1 th:if="${endpoint == 'add'}">New Request</h1>
        <h1 th:if="${endpoint != 'add'}">Edit Request</h1>
        <form th:action="@{'/requests/' + ${endpoint}}" th:method="${method}" th:object="${absenceRequest}"
              class="form-main">
            <div class="form-group">
                <label for="requester">Requester</label>
                <input type="text" class="form-control" id="requester" readonly th:field="*{requesterEmail}">
            </div>
            <div class="form-group">
                <label for="responsible">Responsible</label>
                <input type="text" class="form-control" id="responsible" readonly th:field="*{responsibleEmail}">
            </div>
            <div class="form-group">
                <label for="comment">Comment</label>
                <input type="text" class="form-control" id="comment" th:field="*{comment}">
                <p class="error-field" th:if="${#fields.hasErrors('comment')}" th:errors="*{comment}"></p>
            </div>
            <div class="form-group">
                <label for="status">Status</label>
                <select name="status" id="status" th:field="*{status}">
                    <option value="" selected hidden>Please select a status!</option>
                    <option th:each="status : ${T(toshu.org.corpsuite.request.model.RequestStatus).values()}"
                            th:value="${status}" th:text="${status}"></option>
                </select>
                <p class="error-field" th:if="${#fields.hasErrors('status')}" th:errors="*{status}"></p>
            </div>
            <div class="form-group">
                <label for="type">Type</label>
                <select name="type" id="type" th:field="*{type}">
                    <option value="" selected hidden>Please select a type!</option>
                    <option th:each="type : ${T(toshu.org.corpsuite.request.model.RequestType).values()}"
                            th:value="${type}" th:text="${type}"></option>
                </select>
                <p class="error-field" th:if="${#fields.hasErrors('type')}" th:errors="*{type}"></p>
            </div>
            <div class="form-group">
                <label for="datepicker">Date Picker</label>
                <input type="text" class="form-control" id="datepicker" th:disabled="${endpoint != 'add'}">
                <p class="error-field" th:if="${#fields.hasErrors('fromDate')}" th:errors="*{fromDate}">Please select
                    days!</p>
            </div>
            <p th:if="${endpoint != 'add'}">From Date: <span style="font-weight: bold" th:text="${#temporals.format(absenceRequest.fromDate, 'dd MMMM YYYY')}"></span></p>
            <p th:if="${endpoint != 'add'}">To Date: <span style="font-weight: bold" th:text="${#temporals.format(absenceRequest.toDate, 'dd MMMM YYYY')}"></span></p>
            <input type="text" id="from-date" hidden readonly th:field="*{fromDate}">
            <input type="text" id="to-date" hidden readonly th:field="*{toDate}">
            <div class="form-group">
                <label for="calculated-days">Absence Days</label>
                <input type="text" class="form-control" readonly id="calculated-days" th:field="*{totalDays}">
                <input type="text" hidden id="eligibleDays" th:value="${user.paidLeaveCount}">
                <p class="error-field" id="days-error" hidden>Not enough days for the selected range!</p>
            </div>
            <button type="submit" class="submit-button" id="submit-button">Submit</button>
        </form>
    </div>
</div>
<footer th:replace="~{fragment/general :: footer}"></footer>
<script type="application/javascript" src="/js/date.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
</body>
</html>