<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Requests</title>
    <link rel="stylesheet" href="/css/request.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="request-page-layout">
    <th:block th:insert="~{/fragment/general :: nav-bar}"></th:block>
    <div class="request-overview">
        <div class="table-nav">
            <a th:href="@{/requests/add}">Open Request</a>
            <a th:href="@{/requests/history}">History</a>
        </div>
        <table>
            <thead>
            <tr>
                <th>From Date</th>
                <th>To Date</th>
                <th>Type</th>
                <th>Approval</th>
                <th><a href="">Status</a></th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="request : ${requestList}" th:if="${request.status.name() == 'PENDING'}">
                <td th:text="${request.fromDate}">1 jan 2025</td>
                <td th:text="${request.toDate}">5 jan 2025</td>
                <td th:text="${request.type}">Paid Leave</td>
                <td th:text="${request.responsible.corporateEmail}">Gosho</td>
                <td th:text="${request.status.name()}">Approved</td>
                <td><a th:href="@{'/requests/edit/' + ${request.id}}">Edit</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<footer th:replace="~{fragment/general :: footer}"></footer>
</body>
</html>