<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tickets</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/ticket.css">
</head>
<body>
<div class="ticket-page-layout">
    <th:block th:insert="~{/fragment/general :: nav-bar}"></th:block>
    <div class="ticket-overview">
        <div class="table-nav">
            <a th:href="@{/tickets/add}">Open Ticket</a>
            <a th:href="@{/tickets/history}">History</a>
        </div>
        <table>
            <thead>
            <tr>
                <th>Comment</th>
                <th>Responsible</th>
                <th>Type</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="ticket : ${tickets}">
                <td th:text="${ticket.comment}"></td>
                <td th:text="${ticket.responsible}"></td>
                <td th:text="${ticket.type.name()}">Device</td>
                <td th:text="${ticket.status.name()}">Pending</td>
                <td><a th:href="@{'tickets/edit/' + ${ticket.id}}">Edit</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<footer th:replace="~{fragment/general :: footer}"></footer>
</body>
</html>