<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Ticket</title>
    <link rel="stylesheet" href="/static/css/ticket-add.css">
</head>
<body>
<div class="add-ticket-layout">
    <div class="ticket-add-form">
        <h1>New Ticket</h1>
        <form action="" class="form-main">
            <div class="form-group">
                <label for="requester">Requester</label>
                <input type="text" class="form-control" id="requester" disabled>
            </div>
            <div class="form-group">
                <label for="responsible">Responsible</label>
                <input type="text" class="form-control" id="responsible">
            </div>
            <div class="form-group">
                <label for="comment">Comment</label>
                <input type="text" class="form-control" id="comment">
            </div>
            <div class="form-group">
                <label for="status">Status</label>
                <select name="status" id="status">
                    <option value="PENDING">Pending</option>
                </select>
            </div>
            <div class="form-group">
                <label for="type">Type</label>
                <select name="type" id="type">
                    <option value="DEVICE">Device</option>
                </select>
            </div>
            <button type="submit" class="submit-button">Submit</button>
        </form>
    </div>
</div>
</body>
</html>