<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tickets</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/ticket.css">
    <link rel="icon" type="image/ico" th:href="@{/images/favicon.ico}">
</head>
<body>
<div class="ticket-page-layout">
    <th:block th:insert="~{/fragment/general :: nav-bar}"></th:block>
    <div class="ticket-overview">
        <h1>Tickets</h1>
        <div class="table-nav">
            <a th:href="@{/tickets/add}">Open Ticket</a>
            <a id="history-button" th:href="@{'/tickets?show=' + ${bool}}"><span th:if="${bool}">Hide</span><span
                    th:unless="${bool}">Show</span> History</a>
        </div>
        <div class="table-container">
            <table>
                <thead>
                <tr>
                    <th>Actions</th>
                    <th>Comment</th>
                    <th>Responsible</th>
                    <th>Type</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="ticket : ${tickets}"
                    th:style="${ticket.status.name() == 'REJECTED'} ? 'background-color: #f5a9a9' : ''"
                    th:styleappend="${ticket.status.name() == 'COMPLETED'} ? 'background-color: #a9f5a9' : ''">
                    <td><a th:href="@{'tickets/edit/' + ${ticket.id}}">Edit</a></td>
                    <td th:text="${ticket.comment.substring(0,10) + '...'}"></td>
                    <td th:text="${ticket.responsible.corporateEmail}"></td>
                    <td th:text="${ticket.type.name()}">Device</td>
                    <td th:text="${ticket.status.name()}">Pending</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="/js/history.js"></script>
<footer th:replace="~{fragment/general :: footer}"></footer>
</body>
</html>