<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/user.css">
</head>
<body>
<div class="users-page-layout">
    <th:block th:insert="~{/fragment/general :: nav-bar}"></th:block>
    <div class="users-overview">
        <div class="table-nav">
            <a href="">Add User</a>
            <a href="">History</a>
        </div>
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Department</th>
                <th>Position</th>
                <th>Email</th>
                <th>Country</th>
                <th>Card Number</th>
                <th>Created Date</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Toshu Gaikata</td>
                <td>IT</td>
                <td>Senior</td>
                <td>toshu@corpsuite.com</td>
                <td>Bulgaria</td>
                <td>5</td>
                <td>18 jan 2025</td>
                <td><a href="">Edit</a></td>
            </tr>
            <tr>
                <td>Toshu Gaikata</td>
                <td>IT</td>
                <td>Senior</td>
                <td>toshu@corpsuite.com</td>
                <td>Bulgaria</td>
                <td>5</td>
                <td>18 jan 2025</td>
                <td><a href="">Edit</a></td>
            </tr>
            <tr>
                <td>Toshu Gaikata</td>
                <td>IT</td>
                <td>Senior</td>
                <td>toshu@corpsuite.com</td>
                <td>Bulgaria</td>
                <td>5</td>
                <td>18 jan 2025</td>
                <td><a href="">Edit</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<footer th:replace="~{fragment/general :: footer}"></footer>
</body>
</html>