<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/user.css">
</head>
<body>
<div class="account-page-layout">
    <th:block th:insert="~{/fragment/general :: nav-bar}"></th:block>
    <div class="account-overview">
        <h1>Users</h1>
        <div class="table-nav">
            <a th:href="@{/users/add}">Add new User</a>
            <a th:href="@{/users/history}">History</a>
        </div>
        <table>
            <thead>
            <tr>
                <th>Full Name</th>
                <th>Email</th>
                <th>Country</th>
                <th>Department</th>
                <th>Position</th>
                <th>Manager</th>
                <th>Card</th>
                <th>Status</th>
                <th>UpdatedOn</th>
                <th>LeftOn</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}" th:if="${user.department != 'ADMIN'}">
                <td th:text="${user.firstName + ' ' + user.lastName}">Todor Dimitrov</td>
                <td th:text="${user.corporateEmail}">todor.dimitrov@corpsuite.com</td>
                <td th:text="${user.country}">Bulgaria</td>
                <td th:text="${user.department}">IT</td>
                <td th:text="${user.position}">Senior</td>
                <td th:text="${user.manager?.id == null ? 'none' : user.manager.firstName + ' ' + user.manager.lastName}">Ivan Protopopov</td>
                <td th:text="${user.card?.id == null} ? 'none' : ${user.card.id}">1</td>
                <td th:text="${user.active == true ? 'Active' : 'Deactivated'}">Active</td>
                <td th:text="${user.updatedOn}">25-01-2025</td>
                <td th:text="${user.leftOn}">25-01-2025</td>
                <td><a th:href="@{'/users/edit/' + ${user.id}}">Edit</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<footer th:replace="~{fragment/general :: footer}"></footer>
</body>
</html>